In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
full_url = 'https://dplyr.tidyverse.org/reference/'
req=requests.get(url=full_url)
soup=BeautifulSoup(req.text,"html.parser")

In [6]:
functions_text = []

for item in soup.findAll('a',href=True,attrs={'class': None}):
    functions_text.append(item.get_text())

In [10]:
df = pd.DataFrame(functions_text)
df.to_csv("all_dplyr_funcs.csv")
df

               0
0      arrange()
1        count()
2        tally()
3    add_count()
4    add_tally()
..           ...
135   top_frac()
136       scoped
137   all_vars()
138   any_vars()
139       vars()

[140 rows x 1 columns]