In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
full_url = 'https://dplyr.tidyverse.org/reference/'
req=requests.get(url=full_url)
soup=BeautifulSoup(req.text,"html.parser")

In [9]:
functions_text = []
functions_links = []

for item in soup.findAll('a',href=True,attrs={'class': None}):
    functions_text.append(item.get_text())
    functions_links.append('https://dplyr.tidyverse.org/reference/'+item['href'])

In [11]:
df = pd.DataFrame(functions_text, functions_links)
df.to_csv("all_dplyr_funcs.csv")
df

                                                              0
https://dplyr.tidyverse.org/reference/arrange.html    arrange()
https://dplyr.tidyverse.org/reference/count.html        count()
https://dplyr.tidyverse.org/reference/count.html        tally()
https://dplyr.tidyverse.org/reference/count.html    add_count()
https://dplyr.tidyverse.org/reference/count.html    add_tally()
...                                                         ...
https://dplyr.tidyverse.org/reference/top_n.html     top_frac()
https://dplyr.tidyverse.org/reference/scoped.html        scoped
https://dplyr.tidyverse.org/reference/all_vars....   all_vars()
https://dplyr.tidyverse.org/reference/all_vars....   any_vars()
https://dplyr.tidyverse.org/reference/vars.html          vars()

[140 rows x 1 columns]